<app-course-details-exam-switch [studentsView]="true"></app-course-details-exam-switch>
<div class="my-2">
  <div class="row">
    <div class="col-12">
      <app-advanced-table-search #advancedSearch [(filter)]="filter" [table]="table">
        <advanced-search>
        <app-advanced-search-form #search (filterChange)="advancedSearch.asyncAdvancedSearch()" [(filter)]="filter"
            [formSrc]="searchConfigSrc"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 0">
        <span>&nbsp;</span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'CoursesLocal.Students'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'CoursesLocal.Student'"></span>
      </div>
    </div>
  </div>
  <app-advanced-table #table [autoLoad]="true" [configSrc]="tableConfigSrc" (load)="onTableDataLoad($event)" (loading)="onTableLoading($event)"></app-advanced-table>
</div>
