// Here you can add other styles
.table {
  thead {
    th {
      border-bottom:  1px;
    }
  }
  th {
    border-top:  0px;
  }
}

.btn-requests {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 180px;
  border-radius: 0.3em 0.3em 0.3em 0.3em !important;
}

.btn-requests-grey {
  border-color:  #F0F3F5;
  background-color: #F0F3F5;
}

.fa-chevron-down {
  color : #869FAC;
}

.fa-chevron-up {
  color : #869FAC;
}

.fa-flag-checkered {
  color : #C2CFD6;
}

.fa-user-secret {
  color : #C2CFD6;
}

.tab-navbar {

  .tab-content {
    border-top: 1px solid #a4b7c1 !important;
  }
  .tab-brand {
    font-size: 18px;
    margin-top: -8px;
    margin-right: 0px;
    border-bottom: 1px solid #FFF;
  }
}
