@import "~node_modules/@universis/theme/scss/universis";


.formio-errors.invalid-feedback .form-text {
  color: #F86C6B;
  font-size: 1.5em;
}
.formio-component-datagrid.border-0 {
  .datagrid-table {
    border: none;
    th {
      border: none;
      font-weight: 400;
    }
    td {
      border: none;
    }
    tfoot {
      td {
        border: none !important;
      }
    }
  }
}
.formio-component-datagrid {
  // overflow-x: auto;
  .datagrid-table {
    .form-group {
      margin-bottom: 0;
    }
    th {
      color: map-get($theme-colors, 'secondary');
      font-size: 0.75rem;
      font-weight: 700;
      padding-top: 16px;
      padding-bottom: 4px;
    }
    tbody{
      .choices__item {
        display: grid;
      }
      td:last-child {
        vertical-align: bottom;
      }
    }
    .formio-button-remove-row {
      i:before {
        content: "\f057";
      }
    }
  }
}
.formio-component-number.text-right {
  input[type=text] {
    text-align: right;
  }
}
.choices {
  .choices__list--multiple {
    .choices__item {
      background-color: #63c2de ;
      border: 1px solid #63c2de;
    }
  }
}

.card-header {
    cursor: pointer;
}

.fa-minus-square-o:before {
    content: "\f146";
}

.fa-plus-square-o:before {
    content: "\f0fe";
}
